In [286]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/adult-census-income/adult.csv

In [287]:
df=pd.read_csv("/kaggle/input/adult-census-income/adult.csv")

In [288]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [289]:


df.replace("?", np.nan, inplace=True)

In [290]:
x=df.drop('income',axis=1)
y=df['income']

In [291]:
x.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
dtype: int64

In [305]:
df.isnull().any()

age               False
workclass         False
fnlwgt            False
education         False
education.num     False
marital.status    False
occupation        False
relationship      False
race              False
sex               False
capital.gain      False
capital.loss      False
hours.per.week    False
native.country    False
income            False
dtype: bool

In [306]:
for col in df.select_dtypes(include='object').columns:
   df[col]= df[col].fillna( df[col].mode()[0])

In [309]:
from sklearn.preprocessing import LabelEncoder

In [310]:
le= LabelEncoder()
le.fit_transform(y)

array([0, 0, 0, ..., 1, 0, 0])

In [311]:
x['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [324]:
X = pd.get_dummies(x, drop_first=True)

In [327]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)

In [328]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [336]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [337]:
rf = RandomForestClassifier(n_estimators=400, random_state=42)

rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8524489482573315

In [347]:
df_sub = pd.DataFrame({
    "id": range(1, len(y_pred)+1),
    "income": y_pred
})
df_sub['income'] = df_sub['income'].map({0: '<=50K', 1: '>50K'})
df_sub.to_csv("submission_all_features.csv", index=False)

In [348]:
df_sub

        id income
0        1  <=50K
1        2  <=50K
2        3   >50K
3        4   >50K
4        5  <=50K
...    ...    ...
6508  6509  <=50K
6509  6510  <=50K
6510  6511   >50K
6511  6512  <=50K
6512  6513  <=50K

[6513 rows x 2 columns]